<a class="toggleLogo" (click) ="toggleSideNav()" [class.active]="!isSelected" [class.inactive]="isSelected">
    <img src="../assets/menu.svg" class="xsMenu">
</a>
<!-----------Side Nav bar------------>
<aside class="main-sidebar" [class.active]="isSelected" [class.inactive]="!isSelected">
    <section class="sidebar">
        <a class="logo mainLogo">
            <a href="/">
                <img src="../assets/logo.png" class="logo-mini">
            </a>
        </a>
        <a class="toggleLogo overlay-close" (click) ="toggleSideNav()" [class.active]="isSelected" [class.inactive]="!isSelected">
            <img src="../assets/close.svg" class="xsMenu">
        </a>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
                <li class="nav-item">
                    <a routerLink="/dashboard" [class.active-link]="activeLink === 'dashboard'" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/brands/all" [class.active-link]="activeLink === 'brands'" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>
                            Brands
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/widgets/all" [class.active-link]="activeLink === 'widgets'" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Widgets
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/customers/all" [class.active-link]="activeLink === 'customers'" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Customers
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/products/all" [class.active-link]="activeLink === 'products'" class="nav-link">
                        <i class="nav-icon fas fa-university"></i>
                        <p>
                            Products
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/plans/all" [class.active-link]="activeLink === 'plans'" class="nav-link">
                        <i class="nav-icon fas fa-credit-card"></i>
                        <p>
                            Payment Plans
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/discounts/all" [class.active-link]="activeLink === 'discounts'" class="nav-link">
                        <i class="nav-icon fas fa-certificate"></i>
                        <p>
                            Discounts
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/promocodes/all" [class.active-link]="activeLink === 'promo'" class="nav-link">
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            Promo codes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/reports" [class.active-link]="activeLink === 'reports'" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Reports
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/config" [class.active-link]="activeLink === 'config'" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Configurations
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
  </aside>
  
  <div class="sidebar-mask" [class.active]="isSelected" [class.inactive]="!isSelected" (click) ="toggleSideNav()"></div>