<div class="inner-container">
    <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>1,856,226</h3>
              <p>Total Users</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>1,867</h3>
              <p>New registrations</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>183</h3>
              <p>New Subscribers</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>$7,095</h3>
              <p>Total purchases</p>
            </div>
          </div>
        </div>
    </div>
</div>
