<div class="inner-container card custom-card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-7 col-sm-12">  
                <!--<h5 class="card-title d-none d-sm-block">Brands</h5>-->
                <div class="btn-group statusFltr" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="discountsStatusFltr">
                            {{statusDropDownLbl}} <span class="caret"></span>
                    </button>
                    <ul id="discountsStatusFltr" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" value="1" (click)="filterStaus(1)" *ngIf="selStatus == 0">Active Discounts</li>
                        <li role="menuitem" value="0" (click)="filterStaus(0)" *ngIf="selStatus == 1">Inactive Discounts</li>
                    </ul>
                  </div>
            </div>
            <div class="col-lg-3 col-sm-12 setTblSrchDiv text-right">
                <input class="form-control setTblSrcFld" type="search" placeholder="Search Discount Name/Display Name" aria-label="Search" (keyup)="filterSrchStr($event)">
            </div>
            <div class="col-lg-2 col-sm-12 setAddNewBtnDiv">
                <a class="btn btn-primary setAddNewBtn" routerLink="/discounts/add" role="button">+ Add New Discount</a>
            </div>
        </div>
    </div>
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="card-body">
        <div *ngIf="showLoadingSpinner" class="loadingSpinner"></div>
        <ngx-datatable *ngIf="!showLoadingSpinner" class="material container1 striped" [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" [limit]="10" [footerHeight]="50" rowHeight="auto">
            <ngx-datatable-column name="S.No" [flexGrow]="0.75">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template prop="rowIndex"> 
                    {{(rowIndex + 1)}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name" [flexGrow]="2" prop="discout_name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a routerLink="/discounts/edit/{{row.id}}">{{ row.discout_name }}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Display Name" [flexGrow]="2" prop="display_name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.display_name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Value" [flexGrow]="1.5" prop="discount_value">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span *ngIf="row.discount_type=='PERCENTAGE'">{{row.discount_value}}%</span>
                    <span *ngIf="row.discount_type=='AMOUNT'">{{row.symbol}}{{row.discount_value}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Discount Period" [flexGrow]="1.5" prop="frequency">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.frequency}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created on" [flexGrow]="1.5" prop="created_on">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.created_on | date: 'MMM d y, h:mm a'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Updated on" [flexGrow]="1.5" prop="updated_on">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.updated_on | date: 'MMM d y, h:mm a'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1" prop="is_active">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <label class="switch">
                        <input type="checkbox" *ngIf="row.is_active == 1" class="primary" checked="checked" (change)="updateDiscountStatus(row.id, $event)">
                        <input type="checkbox" *ngIf="row.is_active == 0" class="primary" (change)="updateDiscountStatus(row.id, $event)">
                        <span class="slider round"></span>
                    </label>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a routerLink="/discounts/edit/{{row.id}}" class="">
                        <img src="../../../assets/ic-mode-edit.svg" alt="Edit" class="editDataImg"/>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

</div>
    