.login-page {
    min-height: 466px;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}
.login-page .login-box {
    width: 360px;
}
.login-page .login-box .logo {
    max-width: 200px;
}
.login-page .login-box .card {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 0;
}
.login-page .login-box .card.card-primary.card-outline {
    border-top: 3px solid #007bff;
}