<div class="inner-container card custom-card">
    <div class="card-header">
      <h5 class="card-title"><a routerLink="/products/all" routerLinkActive="active-link" class="breadcrumb-link">Products</a> > Edit</h5>
    </div>
    <div class="card-body">
        <div *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
        </div>
        <div *ngIf="showLoadingSpinner" class="loadingSpinner"></div>
        <form *ngIf="!showLoadingSpinner" class="col-lg-10 editProductForm mx-auto" [formGroup]="editProductForm" (ngSubmit)="editProductFormSubmit()" novalidate>
            <div class="form-group row">
                <label for="productId" class="col-md-3 col-lg-4 col-xl-3 col-form-label required-field">Product ID</label>
                <div class="col-md-9 col-lg-5">
                  <input type="text" class="form-control" formControlName="productId" [ngClass]="{ 'is-invalid': submitted && f.productId.errors }" placeholder="Enter Product ID">
                  <div *ngIf="submitted && f.productId.errors" class="invalid-feedback">
                      <div *ngIf="f.productId.errors.required">Product ID is required</div>
                  </div>
                </div>
                
              </div>
            <div class="form-group row">
              <label for="productName" class="col-md-3 col-lg-4 col-xl-3 col-form-label required-field">Product Name</label>
              <div class="col-md-9 col-lg-5">
                <input type="text" class="form-control" formControlName="productName"  [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" placeholder="Enter Product Name" appNameValidation>
                <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                    <div *ngIf="f.productName.errors.required">Product Name is required</div>
                </div>
                <small class="text-muted">Only letters, digits, underscore or dash. No whitespaces or symbols</small>
              </div>
              
            </div>
            <div class="form-group row">
              <label for="displayName" class="col-md-3 col-lg-4 col-xl-3 col-form-label required-field">Display Name</label>
              <div class="col-md-9 col-lg-5">
                <input type="text" class="form-control" formControlName="displayName" [ngClass]="{ 'is-invalid': submitted && f.displayName.errors }" placeholder="Enter Display Name">
                <div *ngIf="submitted && f.displayName.errors" class="invalid-feedback">
                    <div *ngIf="f.displayName.errors.required">Display Name is required</div>
                </div>
                <small class="text-muted">Name to be displayed on the front-end</small>
              </div>
              
            </div>
            <div class="form-group row">
              <label for="proDesc" class="col-md-3 col-lg-4 col-xl-3 col-form-label required-field">Description</label>
              <div class="col-md-9 col-lg-5">
                <input type="text" class="form-control" formControlName="proDesc" [ngClass]="{ 'is-invalid': submitted && f.proDesc.errors }" placeholder="Enter Description">
                <div *ngIf="submitted && f.proDesc.errors" class="invalid-feedback">
                    <div *ngIf="f.proDesc.errors.required">Description is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="brandName" class="col-md-3 col-lg-4 col-xl-3 col-form-label required-field">Brand</label>
              <div class="col-md-9 col-lg-5">
                <select class="form-control" formControlName="brandName">
                  <option value="">Select Brand</option>
                  <option *ngFor='let brand of allActiveBrands;let i = index' value="{{brand.id}}">{{brand.brand_name}}</option>
                </select>
                <div *ngIf="submitted && f.brandName.errors" class="invalid-feedback">
                    <div *ngIf="f.brandName.errors.required">Brand is required</div>
                </div>
              </div>
              
            </div>
            <div class="form-group row">
                <label for="startDate" class="col-md-3 col-lg-4 col-xl-3 col-form-label required-field">Start Date</label>
                <div class="col-md-9 col-lg-5">
                  <input type="date" class="form-control" formControlName="startDate" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" placeholder="Select Start Date">
                  <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                      <div *ngIf="f.startDate.errors.required">Start Date is required</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="endDate" class="col-md-3 col-lg-4 col-xl-3 col-form-label">End Date</label>
                <div class="col-md-9 col-lg-5">
                  <input type="date" class="form-control" formControlName="endDate" placeholder="Select End Date">
                </div>
            </div>
            <div class="form-group row">
                <label for="productStatus" class="col-md-3 col-lg-4 col-xl-3 col-form-label">Status</label>
                <div class="col-md-9 col-lg-5">
                    <label class="switch">
                        <input type="checkbox" class="primary" checked="checked" formControlName="productStatus">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row add-input-group">
              <label for="paymentPlans" class="col-md-3 col-lg-4 col-xl-3 col-form-label">Payment Plan</label>
              <div class="input-group col-md-9 col-lg-5">
                <!--<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">-->
                <select class="form-control" formControlName="paymentPlans">
                  <option value="0"></option>
                  <option *ngFor='let plan of allPlansData;let i = index' value="{{plan.id}}">{{plan.plan_name}} - {{plan.plan_display_name}}</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="addPaymentPlan()">Add</button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="table-responsive">
                <table class="table dataTable selTbl">
                    <thead>
                        <tr>
                            <th scope="col">Payment Plan</th>
                            <th scope="col">Description</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Trial Price</th>
                            <th scope="col">Final Price</th>
                            <th scope="col">Order</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plan of selPlanArr; let i = index;">
                          <td>
                            <a routerLink="/plans/edit/{{plan.id}}">{{plan.plan_name}}</a>
                          </td>
                          <td>
                            {{plan.plan_desc}}
                          </td>
                          <td>
                            {{plan.frequency_text}}
                          </td>
                          <td>
                            <span *ngIf="plan.trial_price != '$0.00'">{{plan.trial_price}}</span>
                          </td>
                          <td>
                            {{plan.symbol}}{{plan.final_price}}
                          </td>
                          <td></td>
                          <td class="text-center">
                            <a (click)="deletePlanRow(i,plan.id)" class="hover">
                              <img src="assets/close.svg"/>
                            </a>
                          </td>
                      </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="form-group row editProductBtnSec offset-lg-4 offset-xl-2">
              <div class="col-sm-4 col-xl-3 editProductBtnSubSec">
                <button type="submit" [disabled]="loading" class="btn btn-primary editProductBtn">Update</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
              <div class="col-sm-4 col-xl-3 cancelBtnSec">
                  <button type="button" class="btn btn-light cancelBtn" routerLink="/products/all">Cancel</button>
                </div>
            </div>
          </form>
    </div>
</div>