<div class="inner-container card custom-card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-7 col-md-4 col-sm-12">
                <span>Brands: </span>
                <select (change)="getAllCustomers($event.target.value)" [(ngModel)]="selectedBrand">
                    <option *ngFor='let brand of allActiveBrands;let i = index' value="{{brand.id}}">{{brand.brand_name}}</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 setTblSrchDiv text-right">
                <input class="form-control setTblSrcFld" type="search" placeholder="Search Email/First Name/Last Name" aria-label="Search" (keyup)="filterSrchStr($event)">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 setAddNewBtnDiv">
                <a class="btn btn-primary setAddNewBtn" routerLink="/customers/add" role="button">+ Add New Customer</a>
            </div>
        </div>
    </div>
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <div class="card-body">
        <div *ngIf="showLoadingSpinner" class="loadingSpinner"></div>
        <ngx-datatable *ngIf="!showLoadingSpinner" class="material container1 striped" [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" [limit]="10" [footerHeight]="50" rowHeight="auto">
            <ngx-datatable-column name="S.No" [flexGrow]="0.75">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template prop="rowIndex"> 
                    {{(rowIndex + 1)}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" [flexGrow]="3" prop="email">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.email }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="First Name" [flexGrow]="2" prop="first_name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.first_name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Last Name" [flexGrow]="2" prop="last_name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.last_name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1" prop="status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span *ngIf="row.status == 1">Active</span>
                    <span *ngIf="row.status == 0">Inactive</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a routerLink="/customers/edit/{{row.id}}/{{row.brand_id}}" class="" title="View/Edit">
                        <i class="bi bi-pencil-fill editDataImg"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

</div>
    